In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import gc
import re

from tqdm import tqdm
from collections import Counter

import warnings
warnings.simplefilter(action='ignore')

# change to path
PATH='/content/drive/My Drive/Colab Notebooks/grab/'
os.chdir(PATH)

In [0]:
PATH_LABELS = PATH + 'safety/labels'
PATH_FEATURES = PATH + 'safety/features'

In [4]:
labels_df = pd.read_csv(f'{PATH_LABELS}/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv')

labels_df.head()

       bookingID  label
0   111669149733      0
1   335007449205      1
2   171798691856      0
3  1520418422900      0
4   798863917116      0

In [5]:
len(labels_df), labels_df['bookingID'].nunique()

(20018, 20000)

In [0]:
df = pd.DataFrame()

In [7]:
gc.collect()

11

In [8]:
os.listdir(PATH_FEATURES)

for i in range(10):
    fn = f'{PATH_FEATURES}/part-0000' + str(i) + '-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv'
    curr_df = pd.read_csv(fn)
    df = pd.concat([df, curr_df])
    print(i, len(df))

0 1613554
1 3227112
2 4840667
3 6454220
4 8067779
5 9681330
6 11294883
7 12908439
8 14521999
9 16135561

In [0]:
df = df.sort_values(by='bookingID')

In [10]:
df = df.reset_index(drop=True)

df.head()

   bookingID  Accuracy     Bearing  ...    gyro_z  second      Speed
0          0      16.0  142.124496  ...  0.014585   183.0   0.227891
1          0       8.0  315.071838  ...  0.009868   942.0   2.682516
2          0      16.0  144.125198  ...  0.052846   123.0  11.216825
3          0      16.0  243.958252  ... -0.012370   241.0   3.728397
4          0       8.0   38.000866  ...  0.033933  1037.0  12.354941

[5 rows x 11 columns]

In [0]:
df.to_pickle(f'{PATH_FEATURES}/features_df.pkl')

In [0]:
train_df = pd.merge(df, labels_df,
                    left_on='bookingID', right_on='bookingID',
                    how='inner')

In [13]:
len(df), len(train_df)

(16135561, 16154418)

In [0]:
vc = labels_df['bookingID'].value_counts()

In [0]:
ids = vc[vc.values == 2].index.tolist()

In [16]:
len(ids)

18

In [17]:
labels_df[labels_df['bookingID'].isin(ids)].head()

          bookingID  label
1059  1632087572573      1
1256  1511828488211      1
2351   154618822837      1
2721   970662608932      0
2858   455266533495      1

In [0]:
train_df.to_pickle(f'{PATH_FEATURES}/train_df.pkl')