In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import gc
import re

from tqdm import tqdm
from collections import Counter

import warnings
warnings.simplefilter(action='ignore')

# change to path
PATH='/content/drive/My Drive/Colab Notebooks/grab/'
os.chdir(PATH)

In [0]:
PATH_LABELS = PATH + 'safety/labels'
PATH_FEATURES = PATH + 'safety/features'

In [0]:
labels_df = pd.read_csv(f'{PATH_LABELS}/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv')

labels_df.head()

       bookingID  label
0   111669149733      0
1   335007449205      1
2   171798691856      0
3  1520418422900      0
4   798863917116      0

In [0]:
len(labels_df), labels_df['bookingID'].nunique()

(20018, 20000)

In [0]:
df = pd.DataFrame()

In [0]:
gc.collect()

11

In [0]:
os.listdir(PATH_FEATURES)

for i in range(10):
    fn = f'{PATH_FEATURES}/part-0000' + str(i) + '-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv'
    curr_df = pd.read_csv(fn)
    df = pd.concat([df, curr_df])
    print(i, len(df))
    
# # UNCOMMENT    
# test = pd.DataFrame()    
# for i in range(10):
    # fn = f'{PATH_FEATURES}/' + '-------------INSERT TEST-------------'
    # curr_df = pd.read_csv(fn)
    # test = pd.concat([test, curr_df])
    # print(i, len(test))

0 1613554
1 3227112
2 4840667
3 6454220
4 8067779
5 9681330
6 11294883
7 12908439
8 14521999
9 16135561

In [0]:
# # UNCOMMENT
# test = test.sort_values(by=['bookingID', 'second'])
# test.to_feather(f'{PATH_FEATURES}/test')

In [0]:
df.head()

       bookingID  Accuracy  Bearing  ...    gyro_z  second      Speed
0  1202590843006     3.000    353.0  ... -0.009966  1362.0   0.000000
1   274877907034     9.293     17.0  ... -0.010858   257.0   0.190000
2   884763263056     3.000    189.0  ...  0.001122   973.0   0.667059
3  1073741824054     3.900    126.0  ... -0.017956   902.0   7.913285
4  1056561954943     3.900     50.0  ...  0.161530   820.0  20.419409

[5 rows x 11 columns]

In [0]:
df = df.sort_values(by=['bookingID', 'second'])

In [0]:
df.head()

         bookingID  Accuracy     Bearing  ...    gyro_z  second     Speed
1153972          0      12.0  143.298294  ...  0.070732     0.0  3.442991
712971           0       8.0  143.298294  ...  0.043187     1.0  0.228454
167611           0       8.0  143.298294  ...  0.015390     2.0  0.228454
436147           0       8.0  143.298294  ... -0.025753     3.0  0.228454
1423207          0       8.0  143.298294  ...  0.021902     4.0  0.228454

[5 rows x 11 columns]

In [0]:
df = df.reset_index(drop=True)

df.to_feather(f'{PATH_FEATURES}/train')

df.head()

   bookingID  Accuracy     Bearing  ...    gyro_z  second     Speed
0          0      12.0  143.298294  ...  0.070732     0.0  3.442991
1          0       8.0  143.298294  ...  0.043187     1.0  0.228454
2          0       8.0  143.298294  ...  0.015390     2.0  0.228454
3          0       8.0  143.298294  ... -0.025753     3.0  0.228454
4          0       8.0  143.298294  ...  0.021902     4.0  0.228454

[5 rows x 11 columns]

In [0]:
len(df)

16135561

Remove `bookingID` with different labels.

In [0]:
label_vc = labels_df['bookingID'].value_counts()

remove = label_vc[label_vc.values == 2].index.tolist()

print(len(remove))

18

In [0]:
save_df = labels_df[(~labels_df['bookingID'].isin(remove)) |
                      (labels_df['bookingID'].isin(remove) & labels_df['label']==1)]

In [0]:
len(save_df)

20000

In [0]:
save_df[save_df['bookingID'] == 13]

       bookingID  label
12602         13      1

In [0]:
save_df.to_csv(f'{PATH_LABELS}/labels_df.csv')